:root {
  --text: #d0cfd1;
  --text-h: #08060d;
  --bg: rgba(20, 20, 20, 0.4);
  --border: rgb(46, 46, 46);
  --accent: rgb(152, 6, 6);
  --accent-bg: rgb(20, 35, 70);
  --accent-bg2: rgb(20, 20, 20);
  --accent-border: rgba(155, 19, 19, 0.5);
  --accent-border2: rgba(244, 243, 236, 0.5);
  --accent-hover: rgba(0, 0, 0, 0.2);
  --section-bg: rgba(0, 0, 0, 0.6);
  --input-bg: rgba(255, 255, 255, 0.08);
  --input-border: rgba(208, 207, 209, 0.45);
  --progress-full: rgb(161, 1, 1);
  --progress-empty: rgb(199, 199, 199);
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 1.06rem var(--sans);
  letter-spacing: 0.04rem;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 1rem;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
}

body {
  margin: 0;
}

main a {
  color: var(--text);
  text-decoration: none;
  border-bottom: 1px solid var(--border);
  border-radius: 3px;
  padding: 1px 4px;
}

main a:hover {
  background-color: var(--accent-bg);
  transition: background-color 0.2s;
}
