section {
  margin: 20dvh 0;
  padding: 1rem 4dvw;
}

.about {
  margin: 20dvh 10dvw;
}

.regions {
  background-color: var(--section-bg);
}

.regions h3 {
  margin: 0;
  text-decoration: none;
  background-image: linear-gradient(to right, var(--accent) 40%, var(--border) 40%);
  background-repeat: no-repeat;
  background-size: 5rem 2px;
  background-position: left bottom;
  padding-bottom: 1px;
}

.regionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
}

@media (max-width: 950px) {
  .regionContainer {
    grid-template-columns: 3fr 1fr;
  }
}

.regionContainer > div {
  min-height: 20dvh;
  max-height: 40dvh;
  text-align: left;
}

.regionPreview {
  display: flex;
  justify-content: center;
}

.regionPreview img {
  display: block;
  object-fit: contain;
  max-height: 30dvh;
  border-radius: 2px;
}

.progressBar {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 60%;
  text-wrap: nowrap;
  margin-bottom: 1rem;
}

.progressBar p {
  margin: 0;
}

.progress {
  height: 0.5rem;
  width: 100%;
  border-radius: 3px;
  margin-right: 1rem;
}
